In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Series define can be possible

1. list
2. dict
3. Math operation like using +, -, *, /
4. can pass Numpy method: np.exp()

# DataFrame

can be define possible

1. numpy array
2. series
3. dict using multiple series, tuple, list,

# Editing & Retrieving Data

1. grab single column by `[]`
2. grab multiple column by `[[]]`
3. grab single row as a series by `loc` method
4. grab cell of row and column by `loc` method
5. grab multiple cells of rows and columns by `loc` method
6. grab row by index position using `iloc`
7. dataframe Math operation by `+,-,*,/`
8. use `append` function
9. Delecte row by `axis=0` using `drop` function
10. Delete column by `axis=1`
11. use `inplace=True`
12. Create index by `set_index`
13. Create reindex by `reset_index`
14. Can be used `Assign` to create a column while leaving the original DF untouched
15. `Combine` DataFrames while keeping df_3 data unless there is a NaN value

# Conditional Selection

1. use conditional operators `>,<, >=,<=,<>,!=` or `gt,lt,ge,le,eq,ne` to retrieve a data based on the condition
2. we can place conditions in brackets as well `bool_1=df>40, df[bool_1]`
3. get bools for a column `df>40`
4. Return a row if cell value matches a condition in column `df[df['E']>10]`
5. we can focus on a column based on resulting dataframe  `df_1=df[df['E']>10], df_1['C']` or `df[df['E']>10]['C']`
6. we can also grab multiple columns `df[df['E']>10][['C','D']]`
7. we can use multiple conditions `&, |` like `df[(df['X']>3) | (df['Y']>5)]`

# File Input and Output

1. Read csv, excel, json file
2. Save csv, excel, json file by `.to_csv/excel`
3. Read MySQL database
4. Just get 1 column of data by using `usecols`
example: `cs_df_st = pd.read_csv('ComputerSales.csv', usecols=["State"], squeeze=True)`

# Basic and Math

1. display 1st 5 rows `head()`
2. display last 5 rows `tail()`
3. display sample 5 rows `sample()`
4. get 1st 2 rows `df[:2]`
5. get 1st 5 rows by step 2 `df[:5:2]`, but for row and columns must be used `iloc` and `loc`
6. get indexes `df.index.array`
7. get numpy array `to_numpy`
8. get array from series `ser.array`
9. we can replace NaN values with 0 or anything else `df.fillna(0)`
10. get values in row 2 `df.iloc[1]`
11. we can can **add, sub, mul, and div** by `df.add(newdata, axis='columns')`, `df.sub(col, axis=0)`
12. check if empty `df.empty`
13. `Transform` executes a function on a dataframe `df.transform(lambda x: x+1)`
14. we can `transform` using multiple functions `df.transform([lambda x: x**2, lambda x: x**3])`
15. Passing a dictionary allows you to perform different calculations on different columns `df.transform({'A': lambda x: x**2, 'B': lambda x: x**3})`
16. map performs a function on a series, map is iterable function: `df.map(lambda x: x**2)`
17. applymap does the same on a dataframe `df.applymap(lambda x: x**2)`
18. get unique in column by `df['A'].unique()`
19. get number of uniques by `df.unique()`
20. get number of value counts by `df.value_counts()`
21. get columns name by `df.columns`
22. get index info by `df.index`
23. Return a DF that lists null values as True `df.isnull()`

# Group Data

Groupby allows you to group rows based on a columnand perform a function
that combines those values (Aggregate Function)

`dict_5 = {'Store': [1,2,1,2], 'Flavor': ['Choc', 'Van', 'Straw', 'Choc'], 
         'Sales': [26, 12, 18, 22]}
df = pd.DataFrame(dict_5)`

1. Group data by the column name like 'store number' example: `x=df.groupby('Store')`
2. Get mean sales by store `x.mean()`
3. Get sales total just for store 1 by `by_store.sum().loc[1]`
4. we can use multiple functions of get a bunch by `x.describe()`

# Concentrate, Merge, and Join

1. we can `concat` dfs in the order DFs are provided. `pd.concat([])`
2. Merge 2 DFs using their shared `key column` like `pd.merge(df_12, df_13, how='inner', on='key')`
    * how='left' or 'right' : Use keys from left or right 
    * how='outer' : Use union of keys
3. `join` DFs with different indexes and instead of using `keys` use a column: `df_12.join(df_13, how='outer')`

# Statistics

1. get total count of both columns: count(),sum(skipna=True), mean(), median(), mode(),min(),max(),prod(),std(),var(),sem()#Standard error
2. skew()#Negative : Left long tail, Positive : Right long tail
3. kurt() #Kurtosis : < 3 less outliers, 3 Normal Distribution, > 3 more outliers
4. quantile(0.5)
5. cumsum(), cumprod(), cummax(), cummin()
6. Multiple stats at once .describe()
7. Count for each value in series
8. ser_dice.value_counts()
9. can perform calculations on multiple columns using aggregate `agg(np.mean)`
10. can do this with multiple functions `df.agg(['mean', 'std'])`

# Iteration

1. normal iteration for series like `for col in ser_7`
2. `key, value` in df.items()
3. `index, row` in df_8.iterrows()
4. row in df_8.itertuples()

# Sorting

1. df_8.sort_index(ascending=False)
2. df_8.sort_values(by='E',ascending=False)

# Passing Data to Functions

1. passing normal functon
2. using `cut` function for creating groups
3. we can use a `pipe` to pass a dataframe to multiple functions
`cs_df.pipe(split_name).pipe(create_age_groups).head()`

# Aligning, Reindexing and Renaming Labels

1. Series indexing by `df[:4], df[1:], df[1:5:2], df[:]`
2. Align with both series using `left, right, inner`
3. we can also align used in dataframe
4. reindex align for series and dataframe
5. drop, rename

# Multi_Index

1. create multi_indexing
2. create pivot table

# Handling Missing Data

1. Drops rows with missing values by `df_10.dropna()`
2. Drop all columns with missing data, `df_10.dropna(axis=1)`
3. Drop row unless it has at least 2 non-NaN values `df_10.dropna(thresh=2)`
4. Fill NaN values with 0 `df_10.fillna(value=0)`
5. Fill `A` column with the mean of column: `df_10['A'].fillna(value=df_10['A'].mean())`
6. Fill with previous value `df_10.fillna(method='ffill')`
7. Fill with next value (Only works if there is a next value) `df_10.fillna(method='bfill')`

# Experiment with Data

In [362]:
df = pd.read_csv('ComputerSales.csv')
cs_df.head() # Get 1st 5
print(cs_df.columns) # Get column names
cs_df['Profit'].mean() # Average profit per item
# Get the product with the highest profit
cs_df[['Product ID', 'Profit']].max(axis=0).head()
# Number of people who purchased from WV
cs_df[cs_df['State']=='WV']['State'].count()
# Number of purchases in 2019
len(cs_df[cs_df['Year']==2019].index)
# Get number of sales for each product type
cs_df['Product ID'].value_counts()
# Get list of customers that bought a specific product
cs_df[cs_df['Product ID']=='M01-F0024']['Contact']
# How many made a website purchase for a profit over $200
cs_df[(cs_df['Lead']=='Website') & (cs_df['Profit']>150)]['Lead'].count()
# Find out how many product profit amounts include .89 in cents
cs_df['Profit'].apply(lambda cents: str(cents).split('.')[1]=='89').value_counts()

Index(['Sale ID', 'Contact', 'Sex', 'Age', 'State', 'Product ID',
       'Product Type', 'Sale Price', 'Profit', 'Lead', 'Month', 'Year'],
      dtype='object')

False    35
True      4
Name: Profit, dtype: int64

# Visualization

1. hist, plot, plot.bar(), scatter(), pie